{%load i18n%}
<html><head>
<style>
table {
 border: black 1px solid;
 border-collapse: collapse;
 padding: 0;
 margin: 0;
}

table th {
 border: black 1px solid;
background: white;
margin:0;
padding:0;
}

table td {
 border: black 1px solid;
 padding-left: 1em;
 padding-right: 1em;
}
.imageleft {
  float: left;
  display: inline;
  margin: 1em 1em 1em 0;
}
</style>
</head><body>{%load logic%}
{%if not items%}<h1>No new torrents</h1>{%else%}
<table><tr><td>forum</td><td>subject</td><td>action</td></tr>
{%for thread in items%}<tr>
<td><a href="/bbs/threads/{{thread.forum.slug}}/">{{thread.forum.name}}</a></td>
<td><a href="/bbs/topics/{{thread.slug}}/">{{thread.subject}}</a></td>
<td><a href="/admin/edit/threads/{{thread.id}}/">edit</a><br>
<a href="/admin/delete/threads/1/">delete</a>
</td>
</tr>{%endfor%}
</table>
{% load paginator %}{% paginator %}
{%endif%}
</body>
</html>
