{% extends "board/thread_index.html" %}
{%load i18n%}
{% block title %}{%trans "Forums"%}{% endblock %}
{% block content %}
<h1>{%trans "Forums"%}</h1><br><br>
{% for forum in object_list %}<div class="thread">
<span class="body">
<a href="/bbs/{{ forum.slug }}/">{{ forum.name }}</a>
</span>
<span class="footer"><h4 class="forum">
{%trans "discussions"%}<b>:</b> {{ forum.thread_count }}</h4>
</span>
</div>{% endfor %}
{% endblock %}
{% block nav %}
  <p id="all" class="meta"><a href="/bbs/">{% trans "Recent discussions" %}</a></p>
  {% if user.is_authenticated %}<p class="meta">
  <span id="fav"><a href="/bbs/watched/">{% trans "Watched" %}</a><br><br></span>
  {%load logic%}
  {%if user.attrs|key:"inbox"%}{%if user.attrs|key:"inbox"|gt:"0"%}<a href="/messages/received/">{%trans "inbox"%}</a><b>:</b> {{user.attrs|key:"inbox"}}{%endif%}{%endif%}
  </p>{% endif %}
{% endblock %}
