{% extends "index.html" %}{% load i18n %}{%load logic%}{%load markup%}
{% block title %}{{thread.forum.name}}: {{thread.subject}}{% endblock %}
{%block meta%}{%include "highslide.htm"%}
<link rel="stylesheet" type="text/css" href="/media/yui/button/assets/skins/sam/button.css" />
<link rel="stylesheet" type="text/css" href="/media/yui/container/assets/skins/sam/container.css" />
<script type="text/javascript" src="/media/yui/yahoo-dom-event/yahoo-dom-event.js"></script>
<script type="text/javascript" src="/media/yui/utilities/utilities.js"></script>
<script type="text/javascript" src="/media/yui/button/button-min.js"></script>
<script type="text/javascript" src="/media/yui/dragdrop/dragdrop.js"></script>
<script type="text/javascript" src="/media/yui/container/container.js"></script>
<script type="text/javascript" src="/media/yui/element/element-beta.js"></script>
<style type="text/css" media="screen">
.article {border-top: 1px solid black;padding-top:10px;}
#e, #c, #w{
 padding: 2px;
 background: rgb(204, 68, 68) none repeat scroll 0%;
 color: white;
 font-size: 1em;
 display: none;
}
#close_thread, #watch, #csticky, #gsticky {padding-left:2em;}

.yui-button#rcpt {
 font-size: 1.2em;
}
.yui-push-button#rcpt span button {
 background: url(/media/add.gif) center center no-repeat;
 text-indent: -4em;
 overflow: hidden;
 padding: 0 .75em;
 width: 2em;
 *margin-left: 4em;   /* IE only */
 *padding: 0 1.75em;  /* IE only */
}
.yui-panel-container{visibility:hidden;position:absolute;z-index:2;width:320px;}


div.el, form {clear: both;}
div.el label {
 float: left;
 text-align: right;
 padding-top: 0.2em;
 margin-right: 10px;
}
#id_private, textarea {
 float: left;
 text-align: left;
 margin-bottom: 1em;
 margin-top: 0;
 border: 2px solid #ddd;
 color: #777;
 background-color: #f6f6f6;
 font-size: 1.8em;
}
textarea {width: 98%;}

#id_private {width: 94%;}
</style>
<script type="text/javascript">
wset=csset=gsset=toset=NaN;
function msg(action, id) {
var e = document.getElementById(id)
if(e){
if(action=='show'){
e.style.display='inline';
}else{e.style.display='none';}
}
}

function adduser(u){
var e = document.getElementById('id_private');
if(!e) return;
if(e.value.length == 0) e.value=u;
else e.value += ", "+u
}

function send(id, action){

var callback = {
 success : function(o) {
  var r = o.responseXML.documentElement.getElementsByTagName('msg');
  msg('hide', 'e');
  if(r.length >0){
   if(r[0].firstChild.nodeValue=='success'){
    if(action=='abuse'){
     var e = document.getElementById('abuse-'+id);
     e.parentNode.removeChild(e);
    } else if(action=='censor'){
     var e = document.getElementById('censor-'+id);
     e.parentNode.removeChild(e);
    } else if(action=='watch'){
     var e = document.getElementById('watch');
     var a = document.createElement('a');
     a.setAttribute("href","#");
     if(wset){a.appendChild(document.createTextNode("{%trans "watch"%}"));
     }else{a.appendChild(document.createTextNode("{%trans "don't watch"%}"));}
     wset=!wset;
     a.setAttribute('onclick', 'send('+id+', "watch");return false;');
     a.id='watch';
     e.parentNode.replaceChild(a, e);
    }{%if user.is_staff%} else if(action=='close'){
     var ic = document.getElementById('is_closed');
     var e = document.getElementById('close_thread');
     var a = document.createElement('a');
     a.setAttribute("href","#");
     if(toset){
      a.appendChild(document.createTextNode("{%trans "open thread"%}"));
      ic.firstChild.data = '({%trans "closed"%})';
     }else{
      a.appendChild(document.createTextNode("{%trans "close thread"%}"));
      ic.firstChild.data = '';
     }
     toset=!toset;
     a.setAttribute('onclick', 'send('+id+', "close");return false;');
     a.id='close_thread';
     e.parentNode.replaceChild(a, e);
    } else if(action=='csticky'){
     var e = document.getElementById('csticky');
     var a = document.createElement('a');
     a.setAttribute("href","#");
     if(csset){a.appendChild(document.createTextNode("set csticky"));
     }else{a.appendChild(document.createTextNode("unset csticky"));}
     csset=!csset;
     a.setAttribute('onclick', 'send('+id+', "csticky");return false;');
     a.id='csticky';
     e.parentNode.replaceChild(a, e);
    } else if(action=='gsticky'){
     var e = document.getElementById('gsticky');
     var a = document.createElement('a');
     a.setAttribute("href","#");
     if(gsset){a.appendChild(document.createTextNode("set gsticky"));
     }else{a.appendChild(document.createTextNode("unset gsticky"));}
     gsset=!gsset;
     a.setAttribute('onclick', 'send('+id+', "gsticky");return false;');
     a.id='gsticky';
     e.parentNode.replaceChild(a, e);
    }{%endif%}
    return;
   }
  }
  msg('show', 'e')
 },
 failure : function(o) {
  msg('show', 'c');
 }
}
n = document.createElement('b');
if(action=='abuse'){
var url="/bbs/rpc/abuse/"+id+"/";
e = document.getElementById('abuse-'+id).getElementsByTagName('a')[0];
n.appendChild(document.createTextNode(" {%trans "report abuse"%} "));
}else if(action=='censor'){
var url="/bbs/rpc/censor/"+id+"/"
e = document.getElementById('censor-'+id).getElementsByTagName('a')[0]
n.appendChild(document.createTextNode(" {%trans "censor"%} "));
}else if(action=='watch'){
var url="/bbs/rpc/watch/"+id+"/"
e = document.getElementById('watch');
n.id='watch';
if(wset){t = document.createTextNode(" {%trans "don't watch"%} ");
}else{t = document.createTextNode(" {%trans "watch"%} ");}
n.appendChild(t);
}else if(action=='csticky'){
var url="/bbs/rpc/csticky/"+id+"/"
e = document.getElementById('csticky');
n.id='csticky';
if(csset){t = document.createTextNode(" {%trans "unset csticky"%} ");
}else{t = document.createTextNode(" {%trans "set csticky"%} ");}
n.appendChild(t);
}else if(action=='gsticky'){
var url="/bbs/rpc/gsticky/"+id+"/"
e = document.getElementById('gsticky');
n.id='gsticky';
if(gsset){t = document.createTextNode(" {%trans "unset gsticky"%} ");
}else{t = document.createTextNode(" {%trans "set gsticky"%} ");}
n.appendChild(t);
}else if(action=='close'){
var url="/bbs/rpc/close/"+id+"/"
e = document.getElementById('close_thread');
n.id='close_thread';
if(toset){t = document.createTextNode(" {%trans "close thread"%} ");
}else{t = document.createTextNode(" {%trans "open thread"%} ");}
n.appendChild(t);
}
e.parentNode.replaceChild(n, e);
var conn = YAHOO.util.Connect.asyncRequest("GET", url, callback);
return false;
}
YAHOO.util.Event.onContentReady("markup", function () {
var spans = document.getElementsByTagName("span");
for(var i=0;i<spans.length;i++){
if(spans[i].id.slice(0,5) == 'abuse' || spans[i].id.slice(0,6) == 'censor') {
var tid = spans[i].id.split('-')[1];
var a = document.createElement('a');
if(spans[i].id.slice(0,5) == 'abuse'){
a.appendChild(document.createTextNode('{%trans "report abuse"%}'));
a.setAttribute('href', '#');
a.setAttribute('onclick', 'send('+tid+', "abuse");return false;');
}else{
a.appendChild(document.createTextNode('{%trans "censor"%}'));
a.setAttribute('href', '#');
a.setAttribute('onclick', 'send('+tid+', "censor");return false;');
}
spans[i].appendChild(a);
}
}
function onPreview(e){
var callback = {
 success : function(o) {
  n = document.getElementById('markup');
  m = "<div class='article'><p class='meta'><a href='/~{{user.username}}/'>{{user.name}}</a>, {%trans "few minutes ago"%}</p><div class='body'>"
  img = document.getElementById('id_image');
  if(img){if(img.value.length>0)m+="<p class='imageleft'><img src='/media/noi.png'></p>";}
  m+="<p>"+o.responseText+"</p></div></div>"
  n.innerHTML = m;
  msg('hide', 'e');
 },
 failure : function(o) {
  msg('show', 'e');
 }
}
var text = document.getElementById('id_text');
if(!text)return;
if(text.value.length == 0){msg("show","w");return;}else{msg("hide", "w");}
var data = "text="+encodeURI(text.value);
var conn = YAHOO.util.Connect.asyncRequest("POST", "/bbs/rpc/preview/", callback, data);
}
var bc = new YAHOO.widget.Button("submit", { label: '{%trans "Save"%}'});
var pv = new YAHOO.widget.Button("preview", { label: '{%trans "Preview"%}', onclick: {fn: onPreview}});
var users = [];
els = document.getElementsByTagName('a');
for(var i=0, f=false;i<els.length;i++){
 if(els[i].className=='uname'){
  for(var j=0;j<users.length;j++){
   if(users[j] == els[i].firstChild.nodeValue) {
    f = true;
    break;
   }
  }
  if(f==false){users = users.concat([els[i].firstChild.nodeValue]);}
  else{f=false;continue;}
 }
 }
var tpanel = new YAHOO.widget.Panel("rcptpanel", { width:"320px", visible:false, xy:[400,300], constraintoviewport:true });
tpanel.setHeader("{%trans "Users from this page"%}");
tpanel.render();

function onAddU(e){
var um = "";
for(var i=0;i<users.length;i++){
 um+="<a href='#' onclick=\"adduser('"+users[i]+"');return false;\">"+users[i]+"</a>";
 if(i!=users.length-1) um+=",&nbsp;";
}
tpanel.setBody(um);
tpanel.render();
tpanel.show();
}
var au = new YAHOO.widget.Button({container: "rcptbtn", id:"rcpt", onclick: {fn: onAddU}});
{%if user.is_authenticated %}
var ta = document.getElementById('taction');
var a = document.createElement('a');
a.setAttribute('onclick', 'send('+{{thread.id}}+', "watch");return false;');
{%if not user.attrs|key:"watchlist"|inlist:thread.id%}
wset=false;
a.appendChild(document.createTextNode("{%trans "watch"%}"));
{%else%}
wset=true;
a.appendChild(document.createTextNode("{%trans "don't watch"%}"));
{%endif%}
a.href="#";
a.id='watch';
ta.appendChild(a);
{%endif%}
{%if user.is_staff%}
var a = document.createElement('a');
a.setAttribute('onclick', 'send('+{{thread.id}}+', "close");return false;');
{%if thread.closed%}
toset=false;
a.appendChild(document.createTextNode("{%trans "open thread"%}"));
{%else%}
toset=true;
a.appendChild(document.createTextNode("{%trans "close thread"%}"));
{%endif%}
a.href="#";
a.id="close_thread";
ta.appendChild(a);

var a = document.createElement('a');
a.setAttribute('onclick', 'send('+{{thread.id}}+', "csticky");return false;');
{%if thread.csticky%}
csset=true;
a.appendChild(document.createTextNode("{%trans "unset csticky"%}"));
{%else%}
csset=false;
a.appendChild(document.createTextNode("{%trans "set csticky"%}"));
{%endif%}
a.href="#";
a.id="csticky";
ta.appendChild(a);

var a = document.createElement('a');
a.setAttribute('onclick', 'send('+{{thread.id}}+', "gsticky");return false;');
{%if thread.gsticky%}
gsset=true;
a.appendChild(document.createTextNode("{%trans "unset gsticky"%}"));
{%else%}
gsset=false;
a.appendChild(document.createTextNode("{%trans "set gsticky"%}"));
{%endif%}
a.href="#";
a.id="gsticky";
ta.appendChild(a);

{%endif%}
});
</script>
{%endblock%}
{%block body%}<body id="bbs" class="yui-skin-sam">{%endblock%}
{%block search%}{%endblock%}
{% block content %}
<span style="float:right;" id="taction"></span>
{%if result.object_list%}
<h1>&laquo;{{thread.forum.name}}&raquo;<b>:</b> {{thread.subject}}</h1>
<b id="is_closed">{%if thread.closed%}({%trans "closed"%}){%endif%} </b>
<br><br><div id="markup">
{%for post in result.object_list%}{%if not post.censored %}
<div class="article">
<p class="meta"><a class="uname" href="/~{{post.author.username}}/">{{post.author.name}}</a>, {{post.created|timesince}} {%trans "ago"%}
{% if user.is_authenticated and post.freespeech %}&nbsp;&nbsp;<span id="abuse-{{post.id}}"></span>{%endif%}
{% if user.is_staff %},&nbsp;&nbsp;<span id="censor-{{post.id}}"></span>{%endif%}</p>
<div class="body">
{%if post.image%}<p class="imageleft"><a class="highslide" href="/media/poster/{{post.image}}" onclick="return hs.expand(this)"><img title="{{thread_subject}}" src="/media/iposter/{{post.image}}" /></a></p>{%endif%}
<p>{% autoescape off %}{{post.text|bbcode}}{% endautoescape %}</p>
</div>
</div>{%else%}{%if user.is_staff%}<div class="article"><span id="censor-{{post.id}}"></span><span style="color:red;padding-left:1em;">{%trans "Censored" %}(<a href="/~{{post.author.username}}/">{{post.author.name}}</a>)</span><b>:</b><p>{% autoescape off %}{{post.text|bbcode}}{% endautoescape %}</p>{%endif%}</div>{%endif%}
{% endfor %}</div>
<div id="e">{%trans "Something's Gone Wrong"%}</div>
<div id="c">{%trans "Connection problem"%}</div>
<div id="w">{%trans "'Message' field is required"%}</div>
{%endif%}
<br><div style="width:100%;clear:both;">
{% load paginator%}{% paginator %}</div>
<br><br><br>

{%if user.is_authenticated and not thread.closed%}
<form method="post" action="" enctype="multipart/form-data" class="tform">
<label for="id_text">{%trans "Message"%}<b>:</b></label>{%if form.text.errors%}<br><span class="error">{{form.text.errors}}</span>{%endif%}<br>
<div class="el"><textarea id="id_text" cols="40" name="text" rows="10"></textarea><br></div>

<div class="el"><label for="id_private">{%trans "Recipients"%}<b>:</b>{%if form.private.errors%}<br><span class="error">{{form.private.errors}}</span>{%endif%}</label>
{{form.private}}&nbsp;</div>
<div id="rcptpanel"></div><span id="rcptbtn" style="float:left;"></span><br><br></div>
<div class="el"><label for="id_image">{%trans "image"%}<b>:</b>{%if form.image.errors%}<br><span class="error">{{form.image.errors}}</span>{%endif%}</label>{{form.image}}<br><br></div>
<div class="el"><div id="preview"></div><input type="submit" id="submit" value="{%trans "Submit"%}" /></div>
</form>{%endif%}
{% endblock %}
{%block right%}<div class="rnote"><div class="right">
  <div class="round">
    <div class="roundtl"><span></span></div>
    <div class="roundtr"><span></span></div>
    <div class="clearer"><span></span></div>
  </div>
  <div class="subnav"><span>
  <p id="all" class="meta"><a href="/bbs/">{% trans "Recent discussions" %}</a></p>
  <p id="forums" class="meta"><a href="/bbs/forums/">{%trans "Forums"%}</a></p>
  {% if user.is_authenticated %}<p class="meta">
  {%if user.attrs|key:"watchlist"%}{%if user.attrs|key:"watchlist"|length|gt:"0"%}<span id="fav"><a href="/bbs/watched/">{% trans "Favorites" %}</a><br/><br/></span>{%endif%}{%endif%}
  {%if user.attrs|key:"inbox"%}{%if user.attrs|key:"inbox"|gt:"0"%}<a href="/messages/received/">{%trans "New personal messages"%}</a><b>:</b> {{user.attrs|key:"new_messages"}}{%endif%}{%endif%}
  </p>{% endif %}
  </span></div>
  <div class="round">
    <div class="roundbl"><span></span></div>
    <div class="roundbr"><span></span></div>
    <div class="clearer"><span></span></div>
  </div>
</div></div>
{%endblock%}
