{%extends "index.html"%}{%load i18n%}{%load logic%}
{%block title%}{%trans "Bulletin Board System"%}{%endblock%}
{%block body%}<body id="bbs">{%endblock%}
{%block content%}
<h1>{{title}}</h1><br><br>
{%if not result.object_list%}<p>{%trans "Nothing found"%}</p>
{%else%}
{% for thread in result.object_list %}<div class="thread">
<span class="body">
<h4 class="meta">{% trans "posts" %}<b>:</b> {{ thread.post_count }}, {%trans "started by" %} {{ thread.starter }}</h4>
{%if thread.gsticky%}<b>{%trans "STICKY"%} </b>{%endif%}{%if thread.closed%}<b>{%trans "CLOSED"%}</b>{%endif%}
<a href="/bbs/topics/{{ thread.slug }}/">{{ thread.subject }}</a>
</span>
<span class="footer"><h4 class="meta">{%trans "last record"%}<b>:</b> {{ thread.created|timesince}} {%trans "ago"%}
{% ifnotequal thread.last_poster thread.starter %}
 {%trans "by"%} {{ thread.last_poster }}
{% endifnotequal %}</h4>
<h4 class="forum">{%trans "forum"%}<b>:</b> <a href="/bbs/{{thread.forum.slug}}/">{{ thread.forum }}</a></h4>
</span>
</div>{% endfor %}{%endif%}
<br><br>
{% load paginator%}{% paginator %}
<br><br>
{% endblock %}
</div>
</div>
{%block right%}<div class="rnote"><div class="right">
  <div class="round">
    <div class="roundtl"><span></span></div>
    <div class="roundtr"><span></span></div>
    <div class="clearer"><span></span></div>
  </div>
  <div class="subnav"><span>
  <p id="forums" class="meta"><a href="/bbs/forums/">{%trans "Forums"%}</a></p>
  {% if user.is_authenticated %}<p class="meta">
  {%if user.attrs|key:"watchlist"%}{%if user.attrs|key:"watchlist"|length|gt:"0"%}<span id="fav"><a href="/bbs/watched/">{% trans "Watched" %}</a><br><br></span>{%endif%}{%endif%}
  {%if user.attrs|key:"inbox"%}{%if user.attrs|key:"inbox"|gt:"0"%}<a href="/messages/received/">{%trans "New personal messages"%}</a><b>:</b> {{user.attrs|key:"new_messages"}}{%endif%}{%endif%}
  </p>{% endif %}
  </span></div>
  <div class="round">
    <div class="roundbl"><span></span></div>
    <div class="roundbr"><span></span></div>
    <div class="clearer"><span></span></div>
  </div>
</div>{%if user.is_authenticated%}<div class="right">
  <div class="round">
    <div class="roundtl"><span></span></div>
    <div class="roundtr"><span></span></div>
    <div class="clearer"><span></span></div>
  </div>
  <div class="subnav">
  <p><a href="/bbs/newtopic/">{%trans "Start thread"%}</a></p>
  </div>
  <div class="round">
    <div class="roundbl"><span></span></div>
    <div class="roundbr"><span></span></div>
    <div class="clearer"><span></span></div>
  </div>
</div>{%endif%}</div>
{%endblock%}
